/*
!.gitignore
!pom.xml
!*.md

!/api/
/api/*
!/api/src
!/api/pom.xml

!/bukkit/
/bukkit/*
!/bukkit/libs
!/bukkit/src
!/bukkit/pom.xml

!/bungee/
/bungee/*
!/bungee/src
!/bungee/pom.xml

!/images/
!/locales/
