/*
!.gitignore
!pom.xml
!*.md

!/parties-api/
/parties-api/*
!/parties-api/src
!/parties-api/pom.xml

!/parties-bukkit/
/parties-bukkit/*
!/parties-bukkit/src
!/parties-bukkit/pom.xml

!/parties-bungee/
/parties-bungee/*
!/parties-bungee/src
!/parties-bungee/pom.xml

!/images/
!/locales/
